#copyright div::after {
  white-space: pre;
  content: "\aYoutube Tweaks - Version 1.2.9";
}

::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-button {
  display: none !important;
  border-radius: 0 !important;
  height: 13px !important;
  background-color: #333 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px !important;
  background: #555 !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #333 !important;
}

ytd-thumbnail[class="style-scope ytd-video-renderer"],
ytd-playlist-thumbnail[class="style-scope ytd-playlist-renderer"] {
  max-width: 225px !important;
  max-height: 132px !important;
}

ytd-video-renderer[use-prominent-thumbs] #channel-info.ytd-video-renderer {
  padding: 5px 0;
}

ytd-search[center-results] ytd-two-column-search-results-renderer.ytd-search {
  padding-right: 150px;
}