/*::: Max Video Player Width 122032 :::*/
[is-watch-page] ytd-page-manager {
  margin-top: 0!important;
}

[is-watch-page] ytd-masthead {
  background: transparent!important;
}

[is-watch-page] ytd-masthead::before {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: var(--yt-swatch-primary);

  opacity: .65;

  content: "";
}

[is-watch-page] ytd-masthead,
[is-watch-page] #masthead-container.ytd-app::after {
  transition: transform .1s .5s ease-out;
  transform: translateY(-56px);
}

[is-watch-page] #masthead-container:hover ytd-masthead,
[is-watch-page] #masthead-container:hover.ytd-app::after {
  transform: translateY(0px);
}

[is-watch-page] [theater] #player.ytd-watch {
  height: 100vh;
  max-height: 100vh;
}

[is-watch-page] [theater] #player video {
  left: 0!important;

  width: 100%!important;
  max-width: 100%;
  height: auto!important;
  max-height: 100vh;
}

/*::: STRETCH VIDEO TO FILL PLAYER :::*/
video {
  position: static !important;

  width: 100% !important;

  object-fit: fill !important;
}
