@-moz-document domain("youtube.com") {
/* ++----------------------------------------------------------------------------------++ */
/* ||                                                                                  || */
/* ||* Name        : YouTube_                                                          || */
/* ||                                                                                  || */
/* ||* Author      : JourneyOver                                                       || */
/* ||                                                                                  || */
/* ||* Created     : 09 / 11 / 2017                                                    || */
/* ||                                                                                  || */
/* ||* Updated     : xx / xx / xxxx                                                    || */
/* ||                                                                                  || */
/* ||* Version     : 1.0.0                                                             || */
/* ||                                                                                  || */
/* ||* Copyright   : 2017-2018                                                         || */
/* ||                                                                                  || */
/* ++----------------------------------------------------------------------------------++ */
}

@-moz-document domain("youtube.com") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Globals :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Thinner/Darker Scroll bar :::*/
::-webkit-scrollbar-corner {
  background-color: #333 !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  background-color: #333 !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;

  background: #555 !important;
}

/*[[WatchedBadge]]*/
}

@-moz-document regexp("https:\/\/www.youtube.com\/watch.*") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Video Page :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*[[SVTFP]]*/

/*[[VMaxWidth]]*/
}
