@-moz-document domain("youtube.com") {
/* ++----------------------------------------------------------------------------------++ */
/* ||                                                                                  || */
/* ||* Name        : YouTube Theater                                                   || */
/* ||                                                                                  || */
/* ||* Author      : JourneyOver                                                       || */
/* ||                                                                                  || */
/* ||* Created     : 09 / 11 / 2017                                                    || */
/* ||                                                                                  || */
/* ||* Updated     : 07 / 26 / 2018                                                    || */
/* ||                                                                                  || */
/* ||* Version     : 1.0.4                                                             || */
/* ||                                                                                  || */
/* ||* Copyright   : 2017-2018                                                         || */
/* ||                                                                                  || */
/* ++----------------------------------------------------------------------------------++ */
}

@-moz-document domain("youtube.com") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Globals :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*::: Thinner/Darker Scroll bar :::*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-button {
  display: none;
  border-radius: 0;
  height: 13px;
  background-color: #333;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #555 !important;
}

::-webkit-scrollbar-corner {
  background-color: #333 !important;
}

/*[[WatchedBadge]]*/
}

@-moz-document regexp("https?://www.youtube.com/watch.*") {
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::: Video Page :::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*[[SVTFP]]*/

/*[[VMaxWidth]]*/

/*[[RSNB]]*/
}
