[page-subtype="home"] ytd-rich-grid-row,
[page-subtype="home"] ytd-rich-grid-row #contents {
  display: contents;
}

ytd-rich-section-renderer,
.ghost-grid.ytd-ghost-grid-renderer {
  display: none;
}

[page-subtype="home"] #contents > ytd-rich-item-renderer:has(#content > ytd-ad-slot-renderer) {
  display: none;
}
