[page-subtype="home"] {
  ytd-rich-grid-renderer {
    #contents {
      ytd-rich-grid-row {
        display: contents;

        #contents {
          display: contents;
        }
      }

      #contents {
        > ytd-rich-item-renderer {
          margin: 0 4px 24px !important;
        }
      }
    }
  }
}

ytd-rich-section-renderer {
  display: none;
}

.ghost-grid.ytd-ghost-grid-renderer {
  display: none;
}
