/*::: Max Video Player Width :::*/
/*::: Full height player :::*/
ytd-watch[theater] #player,
ytd-watch-flexy[theater] #player-theater-container {
  min-height: 100vh !important;
  max-height: 100vh !important;
}

/*::: Hide top bar :::*/
#masthead-container {
  opacity: 0 !important;
  transition: opacity .2s ease-in-out;
}

/*::: Show top bar on hover :::*/
#masthead-container:hover {
  opacity: 1 !important;
}

/*::: Remove top margin :::*/
#page-manager {
  margin-top: 0 !important;
}

/*::: Hide feedback and restore classic buttons :::*/
#extra-buttons {
  display: none !important;
}

/*::: Fix toast interfering with controls :::*/
#toast:not(.paper-toast-open) {
  pointer-events: none;
}
